body {
	margin: 0;
	background-color: #1D1756;
}

.signed-out #main {
	left: 5px;
}

#sidebar {
	bottom: 52px;
	background-color: #1D1756;
}

#sidebar .chan .name::after {
	background: none;
}

#sidebar .chan:first-child, #sidebar .chan:first-child:hover, #sidebar .chan:first-child.active {
	color: #ECAC00;
}

#connect img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#connect h1.title {
	text-align: center;
}

#footer {
	border-radius: 2px;
	bottom: 4px;
	left: 5px;
	width: 210px;
	background-color: #1D1756;
}

#main {
	bottom: 4px;
	right: 5px;
	top: 4px;
}

#chat .unhandled .from {
	color: #ddd;
}

#windows .window::before {
	background: #f4f4f4;
	background-image: linear-gradient(#f4f4f4, #ececec);
	border-bottom: 1px solid #d7d7d7;
	content: " ";
	display: block;
	height: 10px;
	position: relative;
	z-index: 10;
}

#windows .window {
	border-radius: 2px;
}

@media (max-width: 768px) {
	#sidebar {
		left: -220px;
	}

	#footer {
		left: -215px;
		width: 215px;
	}

	#main {
		left: 5px;
	}
}
